<h2> <%=h get_label(@user) %> </h2>
<br />

<%= get_image_tag(@user) %>

<br />
<br />

<h3><%=h @acc_members["-"].second.value %>
<%  if @usergroups.size > 0 %>
</h3>
<%= render :partial => "shared/usergroup", :collection => @usergroups %>

<% else %>
<%= link_to image_tag("add.png", :size => "15x15"), :action => "membership", :id => @user.id%>&nbsp;
</h3>

<% end %>


<%= list_labels(@user) %>