<h2><%=h get_label(@manual)%></h2>
<br />

<%= get_image_tag(@manual) %>
<br />

<% if @product.size > 0 %>
<h3><%=h @association2["-"].first.value %></h3>
<%= render :partial => "shared/product", :collection => @product %>		
<% end %>

<br />

<h3>
  <%=h @association["-"].third.value %>
  <img src="/images/add.png" style="width:10px;height:10px;cursor:pointer" onclick="document.location.href='./contains/<%=h @id %>';"/><br />
</h3>
<%= render :partial => "shared/step", :collection => @set_of_steps %>		
