<h2><%=h get_label(@manual)%></h2>
<br />

<%= get_image_tag(@manual) %>
<br />

<% if @product.size > 0 %>
<h3><%=h @association2["-"].first.value %></h3>
<%= render :partial => "shared/product", :collection => @product %>		
<% end %>

<br />

<h3>
  <%=h @association["-"].third.value %>
  <%= link_to image_tag("add.png", :size => "15x15", :alt => "Add step"+get_label(@manual)), :action => "contains", :id => @id %>  
</h3>
<%= render :partial => "shared/step", :collection => @set_of_steps %>		
