<h2> <%=h @step[@base_locator+ "/types/label"].first.value%> </h2>

<br />

<%= get_image_tag(@step) %>

<br />
<br />

 <%=h @acc_sequence["-"].third.value %>:&nbsp;
<% if @doAfter.size > 0 %> 
  <%= render :partial => "shared/step", :collection => @doAfter %>
<% else %>
  <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./doafter/<%=h @id %>';"/><br />
<% end %>

<%=h @acc_sequence["-"].second.value %>:&nbsp;
<% if @doBefore.size > 0 %>  
  <%= render :partial => "shared/step", :collection => @doBefore %>
<% else %>
  <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./dobefore/<%=h @id %>';"/><br />
<% end %>

<hr>

<h4>
   <%=h @acc_hierachie["-"].first.value %>
   <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./contains/<%=h @id %>';"/><br />
</h4>
<%= render :partial => "shared/step", :collection => @parts_of_steps %>
<hr>



<h4>
  <%=h @acc_hierachie["-"].second.value %>
  <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./childof/<%=h @id %>';"/><br />
</h4>
<%= render :partial => "shared/step", :collection => @parentstep %>
<hr>



<h4>
  <%=h @acc_material["-"].first.value %>
  <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./materialof/<%=h @id %>';"/><br />
</h4>
<%= render :partial => "shared/material", :collection => @materials %>
<hr>



<h4>
  <%=h @acc_tools["-"].first.value %>
  <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./toolof/<%=h @id %>';"/><br />
</h4>
<%= render :partial => "shared/tool", :collection => @tools %>
<hr>

<h4>
  <%=h @acc_result["-"].third.value %>
  <img src="/images/add.png" style="width:15px;height:15px;cursor:pointer" onclick="document.location.href='./result/<%=h @id %>';"/><br />
</h4>
<%= render :partial => "shared/material", :collection => @results %>
<hr>
