<h2> <%= h get_label(@step) %> </h2>

<br />

<%= get_image_tag(@step) %>

<br />
<br />

<div class="before">	
<h4> <%= h @acc_sequence["-"].third.value %> 
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add step before "+get_label(@step)), :action => "doafter", :id => @id %>	
<br />
</h4>
<%= render :partial => "shared/step", :collection => @doAfter %>
</div>

<hr>
<div class="after">
<h4><%= h @acc_sequence["-"].second.value %>
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add step after "+get_label(@step)), :action => "dobefore", :id => @id %>
<br />
</h4>
<%= render :partial => "shared/step", :collection => @doBefore %>
</div>

<hr>
<div class="contain">
<h4> <%= h @acc_hierachie["-"].first.value %>
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add containing step to "+get_label(@step)), :action => "contains", :id => @id %>
<br />
</h4>
<%= render :partial => "shared/step", :collection => @parts_of_steps %>
</div>

<hr>
<div class="parent">
<h4> <%= h @acc_hierachie["-"].second.value %>
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add parent step to "+get_label(@step)), :action => "childof", :id => @id %>	
<br />
</h4>
<%= render :partial => "shared/step", :collection => @parentstep %>
</div>

<hr>
<div class="material">
<h4> <%= h @acc_material["-"].first.value %>
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add material to "+get_label(@step)), :action => "materialof", :id => @id %>	
<br />
</h4>
<%= render :partial => "shared/material", :collection => @materials %>
</div>>

<hr>
<div class="tool">
<h4> <%= h @acc_tools["-"].first.value %>
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add tool to "+get_label(@step)), :action => "toolof", :id => @id %>	
<br />
</h4>
<%= render :partial => "shared/tool", :collection => @tools %>
</div>

<hr>
<div class="result">
<h4> <%= h @acc_result["-"].third.value %>
<%= link_to image_tag("add.png", :size => "15x15", :alt => "Add result to "+get_label(@step)), :action => "result", :id => @id %>	
<br />
</h4>
<%= render :partial => "shared/material", :collection => @results %>
</div>
