<h2> <%=h @step[@base_locator+ "/types/label"].first.value%> </h2>

<br />

<%= get_image_tag(@step) %>

<br />
<br />

<% if @doAfter.size > 0 %>
  <%=h @acc_sequence["-"].third.value %>:&nbsp;
  <%= render :partial => "shared/step", :collection => @doAfter %>
<% end %>

<% if @doBefore.size > 0 %>
  <%=h @acc_sequence["-"].second.value %>:&nbsp;
  <%= render :partial => "shared/step", :collection => @doBefore %>
<% end %>

<hr>
<% if @parts_of_steps.size > 0 %>
  <h4><%=h @acc_hierachie["-"].first.value %></h4>
  <%= render :partial => "shared/step", :collection => @parts_of_steps %>
  <hr>
<% end %>

<% if @parentstep.size > 0 %>
  <h4><%=h @acc_hierachie["-"].second.value %></h4>
  <%= render :partial => "shared/step", :collection => @parentstep %>
  <hr>
<%  end %>

<% if @materials.size > 0 %>
  <h4><%=h @acc_material["-"].first.value %></h4>
  <%= render :partial => "shared/material", :collection => @materials %>
  <hr>
<%  end %>

<% if @tools.size > 0 %>
  <h4><%=h @acc_tools["-"].first.value %></h4>
  <%= render :partial => "shared/tool", :collection => @tools %>
  <hr>
<%  end %>

<% if @results.size > 0 %>
  <h4><%=h @acc_result["-"].third.value %></h4>
  <%= render :partial => "shared/material", :collection => @results %>
  <hr>
<%  end %>

Material Hinzufügen:
<input type="text" id="autocomp" name="autocomp" />
<script type="text/javascript">
  $(function(){
      setAutoComplete("autocomp", "results", "../materials/json/");
  });
</script>
