<h2><%=h @material[@base_locator+ "/types/label"].first.value%></h2>
<br />

<%= get_image_tag(@material) %>

<br />
<br />

<% if @belongsto.size > 0 %>
    <h3><%=h @acc_belongsTo["-"].second.value %>:</h3>
	<%= render :partial => "shared/material", :collection => @belongsto %>
    <br />
    <hr />
<% end %>

<% if @needed_at.size > 0 %>
    <h3><%=h @acc_needed["-"].first.value %>:</h3>
	<%= render :partial => "shared/step", :collection => @needed_at %>
    <br />
    <hr />
<% end %>

<% if @construction.size > 0 %>
  <h3><%=h @acc_construction["-"].second.value %>:</h3>
	<%= render :partial => "shared/step", :collection => @construction %>
    <br />
    <hr />
<% end %>

