<h2><%=h get_label(@product)%></h2>
<br />

<%= get_image_tag(@product) %>

<br />

<h3>
  <%=h @acc_manuals["-"].second.value %>
  <%= link_to image_tag("add.png", :size => "15x15", :alt => "Add manual to "+get_label(@product)), :action => "manualof", :id => @id %>
</h3>
<%= render :partial => "shared/manual", :collection => @manuals %>

