<h2><%=h get_label(@product)%></h2>
<br />

<%= get_image_tag(@product) %>

<br />

<h3>
  <%=h @acc_manuals["-"].second.value %>
  <img src="/images/add.png" style="width:10px;height:10px;cursor:pointer" onclick="document.location.href='./manualof/<%=h @id %>';"/>
</h3>
<%= render :partial => "shared/manual", :collection => @manuals %>

