<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Monteringsanvisning</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/sahara.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/autocomplete.css">
        
        <%= javascript_include_tag "jquery-latest" %>
        <%= javascript_include_tag "dimensions" %>
        <%= javascript_include_tag "autocomplete" %>
    </head>
    <body>
        <iframe src="" id="idInvisible" style="visibility:hidden;position:absolute;"></iframe>        
        <!--<input type="text" id="autocomp" name="autocomp" />-->
        <div id="outer">
            <div id="outer2">
                <div id="header">
                    <h1>Monteringsanvisning</h1>
                    <h2>IKEA Bauanleitungsportal</h2>
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <%= link_to_unless_current(get_label(@tm.get(@base_locator + "/types/product")), products_url) {} %>
                        </li>
                        <li>
                            <%= link_to_unless_current(get_label(@tm.get(@base_locator + "/types/manual")), manuals_url ) {} %>
                        </li>
                        <li>
                            <%= link_to_unless_current(get_label(@tm.get(@base_locator + "/types/step")), steps_url ) {} %>
                        </li>
                        <li>
                            <%= link_to_unless_current(get_label(@tm.get(@base_locator + "/types/material")), materials_url ) {} %>
                        </li>
                         <li>
                            <%= link_to_unless_current(get_label(@tm.get(@base_locator + "/types/tool")), tools_url ) {} %>
                        </li>
                        <li>
                            <%= link_to_unless_current(get_label(@tm.get(@base_locator + "/types/language")), languages_url ) {} %>
                        </li>
                        &nbsp;
                        <select id="languages" onChange="document.getElementById('idInvisible').src = '/languages/switch/'+this[this.selectedIndex].value" style="width:50px">
                          <% for lang in @tm.get(@base_locator + "/types/language").instances %>
                            <option value="<%=h lang.id %>" <%=h (lang == $current_lang)?("selected"):("") %> > <%=h get_default_label(lang) %></option>
                          <% end %>
                        </select>
                    </ul>
                </div>
                <div id="content">
                    <div id="column1">
                        <% flash.each do |key, msg| %>
                        <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
                        <% content_tag :script, :type => "text/javascript" do -%>
                        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);<% end %>
                        <% end %>
                        <%= yield %>
                    </div>
                </div>
                <div id="footer">
                    <p>
                        Copyright &copy; 2009 <%= @base_locator %>. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
